* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      font-family: Arial, sans-serif;
      background-color:#111;
      color: #f1f1f1;
      display: flex;
      flex-direction: column;
      height: 100vh;
    }

    /* NAVBAR */
    .navbar {
      background-color: #1a1a1a;
      height:60px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 20px;
      border-bottom: 1px solid #2a2a2a;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 999;
      padding: 0 15px;
    }

     .logo {
      color: darkmagenta;
      font-weight: bold;
      font-size: 22px;
      margin-right: 15px;
    }

     .search-bar {
      width: 250px;
      padding: 6px 12px;
      border: none;
      border-radius: 20px;
      background-color: #2a2a2a;
      color: white;
      margin-bottom: 4px;
    }

    .icons {
      display: flex;
      font-size: 20px;
      color: #f1f1f1;
      justify-content: center;
      align-items: center;
    }
   .nav-links{
    display: flex;
    flex-direction: row;
    gap: 15px;
      

   }
   
   .nav-right{
    display: flex;
    gap: 10px;
   }
   .icon{
    background-color: white;
    padding: 8px;
    border-radius: 50%;
    color: white;
    font-size: 15px;
    cursor: pointer;
    transition: backround 0.3s;
   }
   .icon:hover{
    background-color: #8e44ad;
   }
    /* CORPS PRINCIPAL */
    .main {
      display: flex;
      flex: 1;
      margin-top: 55px; /* pour ne pas cacher sous la navbar */
    }

    /* SIDEBAR GAUCHE */
    .sidebar {
      width: 18%;
      background-color:#1a1a1a;
      padding: 20px;
    }

    .menu-item {
      margin-bottom: 15px;
      padding: 8px;
      border-radius: 8px;
      cursor: pointer;
      transition: 0.3s;
      display: flex;
      flex-direction: row;
      align-items: baseline;
      gap: 5px;
    }
    

    .menu-item:hover {
      background-color: #8e44ad;
    }

    /* FIL D’ACTUALITÉ CENTRE */
    .feed {
      flex: 1;
      padding: 20px;
      background-color: #181818;
      overflow-y: auto;
    }

    .post {
      background-color:#222;
      padding: 15px;
      border-radius: 10px;
      margin-bottom: 20px;
    }

    .post img {
      width: 100%;
      border-radius: 10px;
      margin-top: 10px;
    }

    .actions {
      margin-top:10px;
      display:flex;
      gap:3px;
      justify-content:flex-start;
      align-items: center;
      cursor: pointer;
      transition: 0.3s;
      

    }
   .actions img{
    object-fit: contain;
    cursor: pointer;
    transition: 0,3s;

   }
   .share:hover{
    background-color: #8e44ad;
   }
    .like:hover{
    background-color: #8e44ad;
   }
    .commenter:hover{
    background-color: #8e44ad;
   }
    
   .like{
    display: flex;
      flex-direction: row;
      align-items: baseline;
      gap: 5px;

   }
   
   
   .commenter{
    display: flex;
      flex-direction: row;
      align-items: baseline;
      gap: 5px;


   }
   .share{
    display: flex;
      flex-direction: row;
      align-items: baseline;
      gap: 5px;


   }

    /* MESSAGERIE DROITE */
    .contacts {
      width: 20%;
      background-color: #1a1a1a;
      padding: 20px;
    }

    .contact {
      padding: 10px;
      background-color: #2a2a2a;
      border-radius: 8px;
      margin-bottom: 10px;
      cursor: pointer;
    }

    .contact:hover {
      background-color: #8e44ad;
    }
    .img icons{
      transform:scale(0,5);

    }
    img{
      width: 32px;
      height: 32px;
      margin: 15px;
      object-fit: contain;
      transition: transform 0.3s;
    }